{% extends "/common/template.php.twig" %}

{% block title %}

	<title>Snowtricks | Edit :
		{{ trick.name }}</title>

{% endblock %}

{% block head %}

	{{parent()}}

{% endblock %}

{% block header %}

	{{parent()}}

{% endblock %}

{# ---------------------HERO IMG SECTION---------------- #}

{% block content %}

	<div class="trick-bg" style="margin-top: 50px; margin-bottom: 50px;">
		<div class="trick-details-container container-fluid g-0">
			<div class="container-fluid trick-container g-0">
				<img src="{{ asset ('media/trick/' ~ trick.trickMedia[0].fileName) }}" class="hero-trick" alt="...">
				<h1 class="trick-name">{{ trick.name }}</h1>
				<div class="trick-edit">
					<a href="">
						<i class="bi bi-pencil-fill"></i>
					</a>
					<a href="#eraseFeaturedPicture" data-bs-toggle="modal">
						<i class="bi bi-trash-fill"></i>
					</a>
				</div>
			</div>


			{# ---------------------TRICK DETAIL SECTION---------------- #}


			<div class="trick-galery mt-3">
				<div class="img">
					<img src="{{ asset ('media/trick/' ~ trick.trickMedia[0].fileName) }}" alt="" class="img-thumbnail">
					<div class="edit-trick">
						<a href="">
							<i class="bi bi-pencil-fill"></i>
						</a>
						<a href="#eraseFeaturedPicture" data-bs-toggle="modal">
							<i class="bi bi-trash-fill"></i>
						</a>
					</div>
				</div>
				<div class="img">
					<img src="{{ asset ('media/trick/' ~ trick.trickMedia[0].fileName) }}" alt="" class="img-thumbnail">
					<div class="edit-trick">
						<a href="">
							<i class="bi bi-pencil-fill"></i>
						</a>
						<a href="#eraseFeaturedPicture" data-bs-toggle="modal">
							<i class="bi bi-trash-fill"></i>
						</a>
					</div>
				</div>
				<div class="img">
					<img src="{{ asset ('media/trick/' ~ trick.trickMedia[0].fileName) }}" alt="" class="img-thumbnail">
					<div class="edit-trick">
						<a href="">
							<i class="bi bi-pencil-fill"></i>
						</a>
						<a href="#eraseFeaturedPicture" data-bs-toggle="modal">
							<i class="bi bi-trash-fill"></i>
						</a>
					</div>
				</div>
				<div class="img">
					<img src="{{ asset ('media/trick/' ~ trick.trickMedia[0].fileName) }}" alt="" class="img-thumbnail">
					<div class="edit-trick">
						<a href="">
							<i class="bi bi-pencil-fill"></i>
						</a>
						<a href="#eraseFeaturedPicture" data-bs-toggle="modal">
							<i class="bi bi-trash-fill"></i>
						</a>
					</div>
				</div>
				<div class="img">
					<img src="{{ asset ('media/trick/' ~ trick.trickMedia[0].fileName) }}" alt="" class="img-thumbnail">
					<div class="edit-trick">
						<a href="">
							<i class="bi bi-pencil-fill"></i>
						</a>
						<a href="#eraseFeaturedPicture" data-bs-toggle="modal">
							<i class="bi bi-trash-fill"></i>
						</a>
					</div>
				</div>
				<div class="img">
					<img src="{{ asset ('media/trick/' ~ trick.trickMedia[0].fileName) }}" alt="" class="img-thumbnail">
					<div class="edit-trick">
						<a href="">
							<i class="bi bi-pencil-fill"></i>
						</a>
						<a href="#eraseFeaturedPicture" data-bs-toggle="modal">
							<i class="bi bi-trash-fill"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="see-medias-block mt-3">
				<button type="button" class="btn btn-primary" id="see-medias">See Medias</button>
			</div>
			<div class="mb-3">
				<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{ trick.name }}">
			</div>
			<div class="mb-3">
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{ trick.description }}</textarea>
			</div>
			<select class="form-select" aria-label="Default select example">
				<option selected>Select group</option>
				<option value="1">Stalls</option>
				<option value="2">Straight Airs</option>
				<option value="3">Grabs</option>
                <option value="4">Spins</option>
                <option value="5">Flips</option>
                <option value="6">Slides</option>
			</select>
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="eraseFeaturedPicture" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-danger" id="exampleModalLabel">
						<span class="badge bg-danger">WARNING</span>
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to erase this featured picture ?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Oh no !</button>
					<button type="button" class="btn btn-primary">Absolutely !</button>
				</div>
			</div>
		</div>
	</div>


{% endblock %}

{% block footer %}

	{{parent()}}

{% endblock %}

{% block scripts %}

	{{parent()}}
	<script></script>
{% endblock %}
