{% extends "/common/template.php.twig" %}

{% block title %}

	<title>Snowtricks | Edit :
		{{ trick.name }}</title>

{% endblock %}

{% block head %}

	{{parent()}}

{% endblock %}

{% block header %}

	{{parent()}}

{% endblock %}

{# ---------------------HERO IMG SECTION---------------- #}

{% block content %}

	<div class="trick-bg" style="margin-top: 50px; margin-bottom: 50px;">
		<div class="trick-details-container container-fluid g-0">
			<div class="container-fluid trick-container g-0">
				<img src="{{ asset ('media/trick/' ~ trick.trickMedia[0].fileName) }}" class="hero-trick" alt="...">
				<h1 class="trick-name">{{ trick.name }}</h1>
				<div class="trick-edit">
					<a href="">
						<i class="bi bi-pencil-fill"></i>
					</a>
					<a href="#eraseFeaturedPicture" data-bs-toggle="modal">
						<i class="bi bi-trash-fill"></i>
					</a>
				</div>
			</div>


			{# ---------------------TRICK DETAIL SECTION---------------- #}


			<div class="trick-galery mt-3 mb-4">
				{% for medias in trick.trickMedia %}
					<div class="img">
						<img src="{{ asset ('media/trick/' ~ medias.fileName) }}" alt="" class="img-thumbnail">
						<div class="edit-trick">
							<a href="">
								<i class="bi bi-pencil-fill"></i>
							</a>
							<a href="#eraseFeaturedPicture" data-bs-toggle="modal">
								<i class="bi bi-trash-fill"></i>
							</a>
						</div>
					</div>
				{% endfor %}
				{% for videos in trick.videos %}
					<div class="trailer-responsive">
						<iframe width="560" height="315" src="{{ videos.videoUrl }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="edit-trick">
							<a href="">
								<i class="bi bi-pencil-fill"></i>
							</a>
							<a href="#eraseFeaturedPicture" data-bs-toggle="modal">
								<i class="bi bi-trash-fill"></i>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="see-medias-block mt-3">
				<button type="button" class="btn btn-primary" id="see-medias">See Medias</button>
			</div>

			<form action="" class="mb-4">
				<div class="mb-3 form-title">
					<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{ trick.name }}">
					<input class="form-control" type="file" id="formFile">
				</div>
				<div class="mb-3">
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="{{ trick.description }}"></textarea>
				</div>
				<div class="mb-3 selector-btns">
					<select class="form-select form-group" aria-label="Default select example">
						<option selected>Select group</option>
						{% for group in trick.trickGroup %}
							<option value="1">{{ trick.trickGroup.name }}
							</option>
						{% endfor %}
					</select>
					<div class="form-btns">
						<button class="btn btn-danger" type="submit">Delete</button>
						<button class="btn btn-success" type="submit">Save</button>
					</div>
				</div>
			</form>

		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="eraseFeaturedPicture" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-danger" id="exampleModalLabel">
						<span class="badge bg-danger">WARNING</span>
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to erase this featured picture ?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Oh no !</button>
					<button type="button" class="btn btn-primary">Absolutely !</button>
				</div>
			</div>
		</div>
	</div>


{% endblock %}

{% block footer %}

	{{parent()}}

{% endblock %}

{% block scripts %}

	{{parent()}}
	<script></script>
{% endblock %}
