{% extends "/common/template.php.twig" %}

{% block title %}

	<title>Snowtricks | Home</title>

{% endblock %}

{% block head %}

	{{parent()}}

{% endblock %}

{% block header %}

	{{parent()}}

{% endblock %}

{# ---------------------SECTION HERO IMG---------------- #}

{% block content %}

	<div class="container-fluid hero-big g-0">
		<img src="{{ asset('media/hero/hero-img.jpg') }}" class="img-fluid" alt="Snowtricks Hero">
		<h1 style="visibility:hidden;">Pose tes Tricks !</h1>
		<a href="#trick-section" class="scrollable">
			<i class="bi bi-arrow-down-square-fill to-trick"></i>
		</a>
	</div>
	<div class="container-fluid hero-resp g-0">
		<img src="{{ asset('media/hero/hero-img-resp.jpg') }}" class="img-fluid" alt="Snowtricks Hero">
		<h1 style="visibility:hidden;">Pose tes Tricks !</h1>
		<a href="#trick-section" class="scrollable">
			<i class="bi bi-arrow-down-square-fill to-trick-2"></i>
		</a>
	</div>
	
	{# ------------------------SECTION TRICKS------------------ #}

	<div class="container-fluid mt-1">
		<div class="row tricks-row" id="tricks">
			{% for trick in tricks %}


				<div class="col-12 col-md-2 my-4 mx-4 mb-3">
					<div class="card trick-card">
						<a href="{{ trick.id }}">
							<img src="{{ asset ('media/trick/' ~ trick.trickMedia[0].fileName) }}" class="card-img-top card-media" alt="...">
							<div class="card-body trick-card-body">
								<div class="card-title-and-date">
									<h5 class="card-title trick-title">{{ trick.name }}</h5>
								</div>
							</div>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
		<button id="load-more">Load More</button>
		<span class="anchor-link" id="trick-section"></span>
	</div>


{% endblock %}

{% block footer %}

	{{parent()}}

{% endblock %}

{% block scripts %}

	{{parent()}}
	<script>
		$(function(){
			$('#load-more').click(function(){
				$.ajax({
					url:'{{ path('load_more')}}',
					method:'get'
				}).done(function(message){
					$('#tricks').append(message)
				})
			})
		})
	</script>
{% endblock %}
