{% extends "/common/template.php.twig" %}

{% block title %}

	<title>Snowtricks | Home</title>

{% endblock %}

{% block head %}

	{{parent()}}

{% endblock %}

{% block header %}

	{{parent()}}

{% endblock %}

{# ---------------------SECTION HERO IMG---------------- #}

{% block content %}

	<div class="container-fluid hero-big g-0">
		<img src="{{ asset('media/hero/hero-img.jpg') }}" class="img-fluid" alt="Snowtricks Hero">
		<h1 style="visibility:hidden;">Pose tes Tricks !</h1>
		<a href="#trick-section" class="scrollable">
			<i class="bi bi-arrow-down-square-fill to-trick"></i>
		</a>
	</div>
	<div class="container-fluid hero-resp g-0">
		<img src="{{ asset('media/hero/hero-img-resp.jpg') }}" class="img-fluid" alt="Snowtricks Hero">
		<h1 style="visibility:hidden;">Pose tes Tricks !</h1>
		<a href="#trick-section" class="scrollable">
			<i class="bi bi-arrow-down-square-fill to-trick-2"></i>
		</a>
	</div>
	<span class="anchor-link" id="trick-section"></span>
	
	{# ------------------------SECTION TRICKS------------------ #}

	<div class="container-fluid mt-5">
		<div class="row tricks-row" id="tricks">
			{{ include ('trick/tricks.html.twig') }}
		</div>
		<div class="load-more-block mt-3 mb-4">
			<button type="button" class="btn btn-primary" id="load-more">Load More</button>
		</div>
		
	</div>


{% endblock %}

{% block footer %}

	{{parent()}}

{% endblock %}

{% block scripts %}

	{{parent()}}
	<script>
		$(function(){
			var click_count=15
			$('#load-more').click(function(){
				$.ajax({
					url:'{{ path('load_more')}}'+'/'+click_count,
					method:'get'
				}).done(function(message){
					$('#tricks').append(message)
				})
				click_count+=5
				if (click_count >= {{trickCount}}) {
					$('#load-more').hide()
				}
			})
		})
	</script>
{% endblock %}
