{% extends "/common/template.php.twig" %}

{% block title %}

	<title>Snowtricks | Trick :
		{{ trick.name }}</title>

{% endblock %}

{% block head %}

	{{parent()}}

{% endblock %}

{% block header %}

	{{parent()}}

{% endblock %}

{# ---------------------HERO IMG SECTION---------------- #}

{% block content %}

	<div class="container pt-5">
		<div class="row" id="flash-row">
			<div class="col" id="flash-col">
				{% for rubrique, messages in app.flashes %}
					<div class="alert alert-{{ rubrique }} alert-dismissible fade show" id="success-flash" role="alert">
						{% for message in messages %}
							<p>{{ message }}</p>
						{% endfor %}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="trick-bg" style="margin-top: 50px; margin-bottom: 50px;">
		<div class="trick-details-container container-fluid g-0">
			<div class="container-fluid trick-container g-0">
				<img src="{{ asset ('media/trick/' ~ trick.trickMedia[0].fileName) }}" class="hero-trick" alt="...">
				<h1 class="trick-name">{{ trick.name }}</h1>
				{% if is_granted('ROLE_USER') %}
					<div class="trick-edit">
						<a href="{{ path('edit-trick',{id:trick.id, slug:trick.slug}) }}">
							<i class="bi bi-pencil-fill"></i>
						</a>
						<a href="#eraseTrick" data-bs-toggle="modal" data-trick="{{ path('delete_trick', {id:trick.id}) }}" class="trick-delete">
							<i class="bi bi-trash-fill"></i>
						</a>
					</div>
				{% endif %}
			</div>
			<div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4 mt-3 mb-5 edit-container">
				{% for medias in trick.trickMedia %}
					<div class="row">
						<div class="col">
							<div class="card">
								<img src="{{ asset ('media/trick/' ~ medias.fileName) }}" class="card-img-top img-thumbnail" alt="{{ medias.caption }}">
							</div>
						</div>
					</div>
				{% endfor %}
				{% for videos in trick.videos %}
					<div class="row">
						<div class="col">
							<div class="card h-100" style="margin-bottom:131px;">
								<iframe style="height: inherit;" class="card-img-top img-thumbnail" src="{{ videos.videoUrl | formatVideo }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				{% endfor %}


			</div>


			{# ---------------------TRICK DETAIL SECTION---------------- #}


			<div class="see-medias-block mt-3">
				<button type="button" class="btn btn-primary" id="see-medias" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">See Medias</button>
				<div class="collapse" id="collapseExample">
					<div class="row row-cols-1 row-cols-md-2 g-4 mt-3 mb-5 show-container">
						{% for medias in trick.trickMedia %}
							<div class="row">
								<div class="col">
									<div class="card">
										<img src="{{ asset ('media/trick/' ~ medias.fileName) }}" class="card-img-top img-thumbnail" alt="{{ medias.caption }}">
									</div>
								</div>
							</div>
						{% endfor %}
						{% for videos in trick.videos %}
							<div class="row">
								<div class="col ">
									<div class="card h-100" style="margin-bottom:131px;">
										<iframe style="height: inherit;" class="card-img-top img-thumbnail" src="{{ videos.videoUrl | formatVideo }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						{% endfor %}


					</div>
				</div>
			</div>
			<div class="trick-description mt-5">
				<p>{{ trick.description }}</p>
			</div>
			<div class="trick-infos mt-3 mb-3">
				<button type="button" class="btn bg-gradient">{{ trick.TrickGroup.name }}</button>
				<button type="button" class="btn bg-gradient">Add by :
					{{ trick.user.UserName }}</button>
				<button type="button" class="btn bg-gradient">Created :
					{{ trick.creationDate | date('d/m/Y') }}</button>
				<button type="button" class="btn bg-gradient">Edited :
					{% if trick.editedAt is same as(null) %}
						Not yet
					{% else %}
						{{ trick.editedAt | date('d/m/Y') }}</button>
				{% endif %}
			</div>
			<div class="hr-line">
				<hr>
			</div>
			{% if is_granted('ROLE_USER') %}

				<div class="comment-div">
					<form class="g-3 comment-form" action="{{ path('comment_add', {id: trick.id}) }}" method="POST">
						<div class="row">
							<div class="col-12 col-md-9 cmt-txta">
								<textarea class="form-control" name="comment" id=""></textarea>
							</div>

							<div class="col-12 col-md-3 comment-btn-div">
								<button type="submit" class="btn comment-btn">Leave a comment</button>
							</div>
						</div>
					</form>
				</div>
				<div class="hr-line mb-5">
					<hr>
				</div>

			{% endif %}
			<div class="row comments-row" id="comments">
				{{ include ('comment/comments-list.html.twig') }}
			</div>
			<div class="load-more-block mt-3 mb-5">
				<button type="button" class="btn btn-primary bg-gradient" id="load-more-comments">
					<i class="bi bi-plus-circle-dotted load-circle"></i>Load More</button>
			</div>
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="eraseTrick" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-danger" id="exampleModalLabel">
						<span class="badge bg-danger">WARNING</span>
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to erase this trick :
						{{ trick.name }}
						?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Oh no !</button>
					<button id="trick-delete" type="button" class="btn btn-primary">Absolutely !</button>
				</div>
			</div>
		</div>
	</div>


{% endblock %}

{% block footer %}

	{{parent()}}

{% endblock %}

{% block scripts %}

	{{parent()}}
	<script>
		$(function () {

			var click_count = 5
			$('#load-more-comments').click(function () {
				$.ajax({
				url:'{{ path('load_more_comments') }}' + '/' + {{ trick.id }} + '/' + click_count,
				method: 'get'
				}).done(function (message) {
				$('#comments').append(message)
				})
				click_count += 5
				if (click_count >= {{ commentCount }}) {
				$('#load-more-comments').hide()
				}
			})
			$('#trick-delete').click(function () {
				let trick_url = $(this).data('trick');
				console.log(trick_url)
				$.ajax({url: trick_url, method: 'get'}).done(function () { // Redirect to home page
				window.location.replace("{{ path('trick_home') }}");
				})
			})
			$('.trick-delete').click(function () {
				let id = $(this).data('trick');
				$('#trick-delete').data('trick', id)
			})
		})
	</script>
{% endblock %}
