{% extends "/common/template.php.twig" %}

{% block title %}

	<title>Snowtricks | Trick :
		{{ trick.name }}</title>

{% endblock %}

{% block head %}

	{{parent()}}

{% endblock %}

{% block header %}

	{{parent()}}

{% endblock %}

{# ---------------------HERO IMG SECTION---------------- #}

{% block content %}

	<div class="trick-bg" style="margin-top: 50px; margin-bottom: 50px;">
		<div class="trick-details-container container-fluid g-0">
			<div class="container-fluid trick-container g-0">
				<img src="{{ asset ('media/trick/' ~ trick.trickMedia[0].fileName) }}" class="hero-trick" alt="...">
				<h1 class="trick-name">{{ trick.name }}</h1>
				{% if is_granted('ROLE_USER') %}
					<div class="trick-edit">
						<a href="{{ path('edit-trick',{id:trick.id, slug:trick.name}) }}">
							<i class="bi bi-pencil-fill"></i>
						</a>
						<a href="#eraseTrick" data-bs-toggle="modal">
							<i class="bi bi-trash-fill"></i>
						</a>
					</div>
				{% endif %}
			</div>
			<div class="row row-cols-1 row-cols-md-3 g-4 mt-3 mb-5 edit-container">
				{% for medias in trick.trickMedia %}
					<div class="row">
						<div class="col">
							<div class="card">
								<img src="{{ asset ('media/trick/' ~ medias.fileName) }}" class="card-img-top img-thumbnail" alt="{{ medias.caption }}">
							</div>
						</div>
					</div>
				{% endfor %}
				{% for videos in trick.videos %}
					<div class="row">
						<div class="col ">
							<div class="card h-100" style="margin-bottom:131px;">
								<iframe style="height: inherit;" class="card-img-top img-thumbnail" src="{{ videos.videoUrl | formatVideo }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				{% endfor %}


			</div>


			{# ---------------------TRICK DETAIL SECTION---------------- #}


			<div class="see-medias-block mt-3">
				<button type="button" class="btn btn-primary" id="see-medias">See Medias</button>
			</div>
			<div class="trick-description mt-5">
				<p>{{ trick.description }}</p>
			</div>
			<div class="trick-infos mt-3 mb-3">
				<button type="button" class="btn bg-gradient">{{ trick.TrickGroup.name }}</button>
				<button type="button" class="btn bg-gradient">Created by : {{ trick.user.firstName }}
					{{ trick.user.lastName }}</button>
				<button type="button" class="btn bg-gradient">Created :
					{{ trick.creationDate | date('d/m/Y') }}</button>
				<button type="button" class="btn bg-gradient">Edited :
					{{ trick.creationDate | date('d/m/Y') }}</button>
			</div>
			<div class="hr-line">
				<hr>
			</div>
			{% if is_granted('ROLE_USER') %}
				{# <div class="container comment-form mb-4">
																					<form class="row">
																						<div class="col-12 col-md-8">
																							<textarea class="form-control" aria-label="With textarea" rows="1"></textarea>
																						</div>
																						<div class="col-12 col-md-3 cmt-btn-div">
																							<button class="btn comment-btn bg-gradient" type="submit">Leave a comment</button>
																						</div>
																					</form>
																				</div> #}
				{# {{ form_start(formView) }} #}

				{# {{ form_errors(formView) }} #}
				{# <div class="col"> #}
				{# {{ form_row(formView.content) }}</div> #}
				{# <button type="submit" class="btn btn-success mb-3">
					<i class="bi bi-save-fill"></i> #}
				{# Leave a comment #}
				{# </button> #}
				{# {{ form_end(formView) }} #}

					<form action="{{ path('comment_add', {'id': trick.id}) }}" method="POST"> <textarea name="comment" id="" cols="30" rows="10"></textarea>
					<button type="submit">Add Comment</button>
				</form>
				<div class="hr-line">
					<hr>
				</div>

			{% endif %}
			<div class="container comments-space mt-5">
				{% for comments in trick.comments %}
					<div class="row comment-content">
						<div class="comment-user-space">
							<i class="bi bi-person-circle"></i>
							<p class="comment-user text-center">{{ comments.user.firstName }}
								{{ comments.user.lastName }}<br/><span>Le
									{{ comments.creationDate | date('d/m/Y') }}</span>
							</p>
						</div>
						<p class="comment-p">{{ comments.content }}</p>
					</div>
				{% endfor %}

			</div>
			<div class="load-more-block mt-3 mb-5">
				<button type="button" class="btn btn-primary bg-gradient" id="load-more">
					<i class="bi bi-plus-circle-dotted load-circle"></i>Load More</button>
			</div>
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="eraseTrick" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-danger" id="exampleModalLabel">
						<span class="badge bg-danger">WARNING</span>
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to erase this trick :
						{{ trick.name }}
						?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Oh no !</button>
					<button type="button" class="btn btn-primary">Absolutely !</button>
				</div>
			</div>
		</div>
	</div>


{% endblock %}

{% block footer %}

	{{parent()}}

{% endblock %}

{% block scripts %}

	{{parent()}}
	<script></script>
{% endblock %}
